.containermus {  
  margin-top: 1rem;
  display: block;
  align-items: center;
  position: absolute;
  width: 380px;
  height: 120px;
  border: 3px solid rgb(47, 25, 142);
  border-radius: 7rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 1.2rem;
  text-align: center;
}
.player_progress {
  background-color: #c6bfbf;
  border-radius: 5px;
  height: 6px;
  width: 90%;
  margin: 30px 15px 10px;
  position: relative;
  cursor: pointer;
}
.progress {
  background-color: #461bbb;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: all 0.2s linear;
}
.music_duration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -25px;
}
.player_controls { padding-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid {
  font-size: 20px;
  color: #666;
  cursor: pointer;
  margin-right: 30px;
  user-select: none;
  transition: all 0.3s ease-in;
}
.fa-solid:hover {
  filter: brightness(40%);
}
.play-button {
  font-size: 30px;
}
