@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.animbukv16 {
  font-family: Raleway, sans-serif;
  background-color: transparent;
  width: 100%;  /* color: #fff; */
  font-size: 14px;
  padding: .5rem .5rem;
}
.marquee {
  position: relative;
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.marquee_text { color: #187611;
  position: absolute;
  min-width: 100%;
  white-space: nowrap;
  animation: marquee 16s infinite linear;
}
@keyframes marquee {
  from {
    translate: 70%;
  }
  to {
    translate: -70%;
  }
}
.marquee_blur {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;  /* background-color: black; */
  background-image: linear-gradient(to right, white, 1rem, transparent 50%), linear-gradient(to left, white, 1rem, transparent 50%);
  filter: contrast(15);
  border: 1px dashed #1c227e; border-radius: 18px; 
}
.marquee_blur p {
  filter: blur(0.07em);
}
.marquee_clear {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.text {
  margin-block: 2rem;
}
